<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kanban</a>
    <button class="navbar-toggler" type="button" data-bs-
       toggle="collapse" data-bs-target="#navbarKanban" aria-
       controls="navbarKanban" aria-expanded="false" 
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarKanban">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Tarefas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
